.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #eeaf4a;
}

table {
  color: #e07523;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #fff4d7;
}

.header-row {
    background: #a51449;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}